.cn {
    color: red;
}
.Heading{
    color: aqua;
    text-align: center;

}
.name{
    text-align:center;
}
.bu{
    position: relative;
    margin-left:325px; 
    
}
.bu1{
    position: relative;
    margin-left:350px; 
}
